<div class="container w-100%">
<h1 class="text-center">My Tasks</h1>
<ul>
<%@tasks.each do |task|%>
  <li class="list-group-item">
    <%if task.completed%>
      <i class="fa-solid fa-square-check"></i>
    <%else%>
      <i class="fa-solid fa-square-dashed"></i>
    <%end%>
    <%=link_to task.title, task_path(task)%>
  </li>
<%end%>
</ul>
</div>
<div class="container w-100% text-center">
<%=link_to "Add a new task", new_task_path%>
</div>
